<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        
      
       <div  class="main-content"> 
            {{>header}}
            
             <img class ="passport" src="/img/page.png" alt="my passport"> 
        </div>
           
        
        {{>footer}}
        
    </body>
</html>

